*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


header{
	background: rgb(201, 218, 203);
	color: #fff;
	height: 50px;
}


.header_left{
width: 50%;
float: left;
}


.header_right{
width: 50%;	
float: right;
}



#btnadmin {
  text-align: center;

}


#btnbienvenido {

  text-align: center;
}


#btncerrar {

	text-align: right;
  padding-right: 100px;
}


/* nav {
  display: inline-block;
  text-align: center;
} */

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}



#btn-salirsession {
    background-color: #e02f0f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }


  