*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


header{
	background: rgb(120, 238, 169);
	color: #fff;
	height: 50px;
}


.header_left{
width: 50%;
float: left;
}


.header_right{
width: 50%;	
float: right;
}